.anime-item {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0.7rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anime-item:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.anime-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

.home-anime-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  color: #27548A;
  text-align: left;
}

.anime-item p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin: 0;
  font-size: 0.95rem;
  color: #30233b;
  font-weight: 500;
}

.anime-nota {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 7px;
  max-width: 4em;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background: #888;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  transition: background 0.2s;
}

.nota-verde-escuro {
  background: #076b2d;
}

.nota-verde {
  background: #6ce747;
}

.nota-amarela {
  background: #ffc73b;
  color: #23243a;
}

.nota-vermelha {
  background: #ff4d4f;
}