
html, body, #root{
  height: 100%;
  margin: 0;
}


* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: #4d4d4d;
}

#navbar {
  background: white;
  color: black;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.search-form input[type="text"] {
  padding: 0.5rem 1rem;
  width: 60%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ffeef8;
  color: black;
  outline: none;
}

.search-form button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.plain-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.login-button {
  background-color: black;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}